In [1]:
l1=[1,2,3,4,5,10.5,11.5,12.5,13.5,'A','B','C','D',"Marilag","Vanessa","Benjir","Lino"]
print(l1)
print(type(l1))

[1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
<class 'list'>

In [11]:
print("Current List: ", l1)
print("Size: ",len(l1))

print("***Print a value between 1 to 10***")
print(l1[0:11])

Current List:  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
Size:  17
***Print a value between 1 to 10***
[1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B']

In [12]:
print("Current List: ", l1)
print("Size: ",len(l1))

print("***Print all the value after index 2***")
print(l1[2:11])

Current List:  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
Size:  17
***Print all the value after index 2***
[3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B']

In [13]:
print("Current List: ", l1)
print("Size: ",len(l1))

print("***Print the alternate value between 1 to 10***")
print(l1[0:11:2])

Current List:  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
Size:  17
***Print the alternate value between 1 to 10***
[1, 3, 5, 11.5, 13.5, 'B']

In [14]:
print("Current List: ", l1)
print("Size: ",len(l1))

print("***Print value on index 8***")
print(l1[1:8:8])

#still for correction

Current List:  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
Size:  17
***Print value on index 8***
[2]

In [1]:
print("Current List: ", l1)
print("Size: ",len(l1))

print("***Print last value of your list***")
print(l1[-1])

NameError: name 'l1' is not defined

In [16]:
print("Current List: ",l1)
l1.insert(5,"Joseph") #inserted a value
print("Updated List: ",l1)

Current List:  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
Updated List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']

In [21]:
print("Current List: ",l1)
print("Size: ",len(l1))
l1[8]="Sunit" #replaced the value on the index citedname
print("Updated List: ",l1)

Current List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
Size:  18
Updated List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']

In [23]:
print("Current List: ",l1)
print("Size: ",len(l1))
l1.append("Mango") #added new value on the list on the last part
print("Updated List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'Mango']
Size:  19
Updated List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'Mango', 'Mango']
Size:  20

In [24]:
print("Current List: ",l1)
print("Size: ",len(l1))
l1.remove(2) #removed value of index 2
print("Updated List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'Mango', 'Mango']
Size:  20
Updated List:  [1, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'Mango', 'Mango']
Size:  19

In [25]:
print("Current List: ",l1)
print("Size: ",len(l1))
l1.pop() #remove the last part of the list
print("Updated List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'Mango', 'Mango']
Size:  19
Updated List:  [1, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'Mango']
Size:  18

In [26]:
print("Current List: ",l1)
print("Size: ",len(l1))
del l1[5] #delete index 5 value
print("Updated List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'Mango']
Size:  18
Updated List:  [1, 3, 4, 5, 'Joseph', 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'Mango']
Size:  17

In [27]:
print("Current List: ",l1)
print("Size: ",len(l1))
l1.clear() #emptying the whole list
print("Updated List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 3, 4, 5, 'Joseph', 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'Mango']
Size:  17
Updated List:  []
Size:  0

In [28]:
#print all the value one by one using for loop

l2=["Apple","Mango","Kiwi","Orange"]

for i in l2:
  print(i, " = ", len(i))

Apple  =  5
Mango  =  5
Kiwi  =  4
Orange  =  6

Nested List

In [29]:
Ecommerce = [
    "Mobiles",["Samsung","OnePlus","Iphone",[14000,20000,40000]],
    "Laptop",["Dell","Hp","Acer",[25000,35000,45000]],
    "Clothes",["Men","Women",[50,100]]
]
print(Ecommerce)

['Mobiles', ['Samsung', 'OnePlus', 'Iphone', [14000, 20000, 40000]], 'Laptop', ['Dell', 'Hp', 'Acer', [25000, 35000, 45000]], 'Clothes', ['Men', 'Women', [50, 100]]]

from mobile i want print Samsung, price - 20k, 40k
from laptop i want print HP, price - 35k
from clothes i want print Men and its quantity

In [ ]:
Ecommerce = [
    "Mobiles",["Samsung","OnePlus","Iphone",[14000,20000,40000]],
    "Laptop",["Dell","Hp","Acer",[25000,35000,45000]],
    "Clothes",["Men","Women",[50,100]]
]
print(Ecommerce)

for i in range(1,6,1):
  for j in range(i):
    print("*",end="")  #end="" for horizontal manner
  print()